{% capture navWorkspace %}
    {% capture my_nav %}{% endcapture %}
    {% assign orderedList = include.ordered | default: false %}
    {% assign minHeader = include.h_min | default: 1 %}
    {% assign maxHeader = include.h_max | default: 6 %}
    {% assign nodes = site.data.toc.horizontalnav %}
    {% assign firstHeader = true %}

    {% capture listModifier %}{% if orderedList %}1.{% else %}-{% endif %}{% endcapture %}

    {% for node in nodes %}
        {% if node.title == "" %}
            {% continue %}
        {% endif %}

        {% if include.item_class %}
            {% capture listItemClass %}{:.{{ include.item_class }}}{% endcapture %}
        {% endif %}

        {% assign linkclass = "" %}
        {% if include.anchor_class %} {% capture linkclass %}{{include.anchor_class}}{% endcapture %} {% endif %}
        {% if page.url == node.path %} {% capture linkclass %}{{linkclass}} active{% endcapture %} {% endif %}

        {% capture my_nav %}{{ my_nav }}
{{ listModifier }}{{ listItemClass }} <a href="{% if include.baseurl %}{{include.baseurl}}{% endif %}{{ node.path }}"{% if linkclass != "" %} class="{{ linkclass }}"{% endif %}>{{ node.title }}</a> {% endcapture %}
    {% endfor %}

    {% if include.class %}
        {% capture my_nav %}{:.{{ include.class }}}
{{ my_nav | lstrip }}{% endcapture %}
    {% endif %}

    {% if include.id %}
        {% capture my_nav %}{: #{{ include.id }}}
{{ my_nav | lstrip }}{% endcapture %}
    {% endif %}
    {% endcapture %}{% assign navWorkspace = '' %}{{ my_nav | markdownify | strip }}
