<!-- Page generated {{ site.time }} -->
	{% assign crumbs = page.url | split: '/' %}
    {% assign pagenav = "<nav class='crumbs'><ol>" %}
	{% assign stoppingpoint = crumbs | size | minus: 1 %}
    {% if stoppingpoint == -1 %}
        {% capture pagenav %}{{pagenav}}<li class="crumb"><a href="{{basehref}}/">Home</a></li>{% endcapture %}
    {% endif %}
	{% for crumb in crumbs %}
        {% if crumb == "" %}
			{% capture basehref %}{{basehref}}{{ crumb }}/{% endcapture %}
            {% capture pagenav %}{{pagenav}}<li class="crumb"><a href="{{basehref}}">Home</a></li>{% endcapture %}
        {% elsif forloop.index > stoppingpoint %}
			{% capture basehref %}{{basehref}}{{ crumb }}{% endcapture %}
            {% capture pagenav %}{{pagenav}}<li class="crumb"><a href="{{basehref}}">{{crumb | capitalize}}</a></li>{% endcapture %}
		{% else %}
			{% capture basehref %}{{basehref}}{{ crumb }}/{% endcapture %}
            {% capture pagenav %}{{pagenav}}<li class="crumb"><a href="{{basehref}}">{{crumb | capitalize}}</a></li>{% endcapture %}
		{% endif %}
	{% endfor %}
    {% capture pagenav %}{{pagenav}}</ol></nav>{% endcapture %}

<!-- Logic for 'edit this button' -->
{% assign edit_url = site.github.repository_url | append: "/edit/gh-pages/" | append: page.path %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
            <h1> {{ title | default: site.title }} </h1>    <br />
          <h2> {{ description | default: site.description }} </h2>
        </a>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <!-- page content -->
          {{ content }}
        </section>

        <aside id="sidebar">
          {% unless page.notoc %}
          <!-- page navigation bar -->
          {{pagenav}}
          Site Links
          <nav class="crumbs">
          {% include nav.html ordered=True id="markdown-nav" %}
          </nav>
          <ul>
            {% if edit_url != "" %}
            <li><a href="{{ edit_url }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this page on GitHub</a></li>
            {% endif %}
            <li><a href="{{site.github.repository_url}}/issues/new?body=File: [{{ page.path }}]({{site.url}}{{ page.url }})" class="nomunge"><i class="fa fa-check" aria-hidden="true"></i> File an issue about this page</a></li>
          </ul>
          Page Sections
          {% include toc.html html=content ordered=True id="markdown-nav" %}
          {% endunless %}
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
          {% endif %}
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <footer>
    <hr>
      The content here is licensed with the CC-BY-SA-4.0 <a href="/LICENSE">license</a>. <a href="https://github.com/peterwwillis/devopsyoga-content">(GitHub)</a>
    </footer>
    </body>
</html>
